.container {
    width: 80%;
    margin: 3rem auto;
}

.errand {
    background-color: $card-bg;
    margin-block: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.errand h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.errand p {
    font-size: 1rem;
    margin-bottom: .3rem;
}

.errand_subject {
    font-size: 3rem;
    font-weight: bold;
   }

.errand_message,
.errand_email {
font-size: .7em;
}

.errand_name,
.errand_message,
.errand_email {
pointer-events: none;
}

.details {
    width: 80%;
    height: 60vh;
    background-color: white;
    z-index: 9;
}