main {
    @include flex(column, center, center);
    @include size(100vw, 100vh);
    
    .conact-form-wrap {
        @include flex(column, center, center);
        @include size(40vw, 55vh);
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #d8d8d8;

        .form-content {
            @include size(100%, 100%);
        }
        header {
            @include size(100%, 50%);
        }
        input, textarea {
            font-size: 0.8rem;
        }
    
        .input-group-wrap {
            @include flex(row, space-between, center);
        }
        .input-group {
            margin-bottom: 1rem;
            width: 49%;
        
            label {
                font-weight: bold;
                font-size: 0.9rem;
            }
        }
        .input-group2 {
            margin-bottom: 1rem;
            width: 100%;
        }
        .input-group3 {
            @include flex(row, flex-start, center);
            margin-bottom: 1rem;
            font-size: 0.9rem;
        }
        .radio-text, .terms-text {
            padding-left: 0.25rem;
        }
        .input-label {
            width: 100%;
            margin-bottom: 0.5rem;
        }
        .form-control {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #d8d8d8;
        }
        .form-control2 {
            @include size(100%, 10vh);
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #d8d8d8;
        }
    
        .btn-submit {
            width: 100%;
            padding: 0.8em 1.4em;
            border-radius: 0.5rem;
            border: 0;
            outline: none;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }
        .btn-primary {
            background-color: hsl(202, 95%, 46%);
            color: #ffffff;
            transition: background 70ms;
        }
        .btn-primary:hover, .btn-primary:focus {
            background-color: hsl(202, 95%, 51%);
        }
        .btn-primary:active {
            background-color: hsl(202, 95%, 41%);
        }
    }
}