* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  width: 100%;
  height: 80vh;
  min-height: 40em;
}

header {
  width: 100%;
}
header .up-header {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(40, 49, 148);
}
header .up-header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8rem;
}
header .up-header ul li {
  list-style: none;
  margin-left: 4rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
header .up-header ul li a {
  text-decoration: none;
  color: white;
}
header .up-header ul li a:hover {
  text-decoration: underline;
}
header .down-header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header .down-header .company-name {
  width: auto;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .down-header .company-name h1 {
  font-size: 3rem;
  margin-top: 1rem;
}
header .down-header .down-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .down-header .down-navbar ul li {
  align-self: center;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .down-header .down-navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
header .down-header .down-navbar ul li a:hover {
  text-decoration: underline;
}

footer {
  position: relative;
  bottom: 0;
  height: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(17, 26, 91);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
footer .upper-footer {
  height: 12rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
footer .upper-footer .box-whole {
  width: 75%;
  margin: 1rem;
}
footer .upper-footer ul li {
  list-style: none;
  margin-top: 1rem;
}
footer .upper-footer ul li a {
  text-decoration: none;
  color: white;
}
footer .upper-footer ul li a:hover {
  text-decoration: underline;
}
footer .footer-nav {
  height: 100%;
}
footer .down-footer {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .box-copywrite {
  margin-top: 0.5rem;
}
footer .box-whole-box {
  height: 3rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(147, 143, 143);
}
footer .footer-underlink {
  margin-top: 0.5rem;
}
footer .footer-underlink ul {
  display: flex;
  flex-direction: row;
}
footer .footer-underlink ul li {
  list-style: none;
  margin-left: 0.8rem;
}
footer .footer-underlink ul li a {
  text-decoration: none;
  color: white;
}
footer .footer-underlink ul li a:hover {
  text-decoration: underline;
}

.main-page {
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.background {
  background-image: linear-gradient(rgba(228, 222, 222, 0.065), rgba(255, 255, 255, 0.5)), url("/images/vvs.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  margin-bottom: 4rem;
}
.background h2 {
  font-size: 4.5em;
  text-align: center;
  padding-top: 10rem;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.content-row-one {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.content-row-one .row-one-box {
  width: 100%;
  height: 34rem;
  align-self: center;
  border-right: 1px solid black;
  margin: 1rem 4rem 0rem 4rem;
  padding-right: 1rem;
}
.content-row-one .row-one-box h4 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.content-row-one .row-one-box p {
  padding-top: 2rem;
}
.content-row-one .row-one-box:last-of-type {
  border: none;
}
.content-row-one .row-one-box-image {
  width: 100%;
  background-image: url(/images/plumbthree.avif);
  background-size: contain;
  background-repeat: no-repeat;
}

.content-row-two {
  height: 45rem;
  width: 100%;
  background-color: rgb(53, 176, 233);
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.content-row-two .row-two-box {
  width: 80%;
  height: 38rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-row-two .row-two-box .box-row {
  width: 48%;
  height: 100%;
}
.content-row-two .row-two-box .box-row h4 {
  text-align: center;
  font-size: 3rem;
  color: white;
}
.content-row-two .row-two-box .box-row p {
  font-size: 3rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
}
.content-row-two .row-two-box .box-row .fa-solid {
  color: rgb(58, 235, 58);
}
.content-row-two .row-two-box .box-row-card {
  width: 35%;
  height: 100%;
  border: 1px solid rgb(64, 63, 63);
  background-color: rgb(253, 245, 245);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(64, 63, 63);
  display: flex;
  flex-direction: column;
}
.content-row-two .row-two-box .box-row-card h4 {
  text-align: center;
  font-size: 2rem;
  padding-top: 0.7rem;
  font-weight: 400;
  text-shadow: 2px 2px 3px black;
  color: white;
}
.content-row-two .row-two-box .box-row-card p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 2rem;
  font-size: 1.3rem;
}
.content-row-two .row-two-box .box-row-card input {
  width: 80%;
  height: 3rem;
  align-self: center;
  margin-top: 3rem;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1.5rem;
}
.content-row-two .row-two-box .box-row-card button {
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px;
  background-color: rgb(62, 62, 62);
  align-self: center;
  margin-top: 2rem;
  color: white;
  font-size: 1rem;
}

.iframe-wrapper {
  width: 100%;
  height: 50vh;
}
.iframe-wrapper .iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.conact-form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  width: 100%;
  height: 100%;
  max-width: 40em;
  max-height: 35em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
.conact-form-wrap .form-content {
  width: 100%;
  height: 100%;
}
.conact-form-wrap input, .conact-form-wrap textarea {
  font-size: 0.8rem;
}
.conact-form-wrap .input-group-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.conact-form-wrap .input-group {
  margin-bottom: 1rem;
  width: 49%;
}
.conact-form-wrap .input-group label {
  font-weight: bold;
  font-size: 0.9rem;
}
.conact-form-wrap .input-group2 {
  margin-bottom: 1rem;
  width: 100%;
}
.conact-form-wrap .input-group3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.conact-form-wrap .radio-text, .conact-form-wrap .terms-text {
  padding-left: 0.25rem;
}
.conact-form-wrap .input-label {
  width: 100%;
  margin-bottom: 0.5rem;
}
.conact-form-wrap .form-control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
  background-color: rgb(245, 245, 245);
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.conact-form-wrap .form-control2 {
  width: 100%;
  height: 10vh;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
  background-color: rgb(245, 245, 245);
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.conact-form-wrap .btn-submit {
  width: 100%;
  padding: 0.8em 1.4em;
  border-radius: 0.5rem;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.conact-form-wrap .btn-primary {
  background-color: hsl(202deg, 95%, 46%);
  color: #fff;
  transition: background 70ms;
}
.conact-form-wrap .btn-primary:hover, .conact-form-wrap .btn-primary:focus {
  background-color: hsl(202deg, 95%, 51%);
}
.conact-form-wrap .btn-primary:active {
  background-color: hsl(202deg, 95%, 41%);
}
.conact-form-wrap h2 {
  margin-bottom: 1rem;
}

.errands-main {
  height: 100%;
}

.container {
  width: 80%;
  margin: 3rem auto;
}

.errand {
  background-color: #fff;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.errand h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.errand p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.errand_subject {
  font-size: 3rem;
  font-weight: bold;
}

.errand_message,
.errand_email {
  font-size: 0.7em;
}

.errand_name,
.errand_message,
.errand_email {
  pointer-events: none;
}

.details {
  width: 100%;
  height: 60vh;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  padding: 2rem;
}
.details h3 {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
.details p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.statusColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.btnCloseDetails {
  position: relative;
  top: 2rem;
  width: 25px;
  height: 25px;
  margin-bottom: 2rem;
}

.statusPending {
  margin-left: 1rem;
}

.statusDone {
  margin-left: 1rem;
}

.comment {
  width: 80%;
}/*# sourceMappingURL=main.css.map */